body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #C11616;
    padding: 20px 130px 20px 130px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

header, header .container, .container-links, header .container-right .secao-busca, .post1, .post2, .post3, .post4, .container-posts {
    display: flex;
}

header .container-left {
    width: 460px;
    align-items: center;
}

header .container-left img {
    border-right: solid 1px #fff;
    padding-right: 40px;
    margin-right: 29px;
}

header .container-left p {
    font-style: italic;
}

header .container-right {
    width: 540px;
    justify-content: space-between;
}

header .container-right .secao-busca {
    align-items: baseline;
    gap: 7.5px;
}

header .container-right .caixa-de-busca {
    width: 281.5px;
    height: 1px;
    background-color: #fff;
}

header .container-right .container-links {
    gap: 15px;
}

header .container-right .container-links a {
    color: #fff;
}

header .container-right .container-links .blog {
    border-right: solid 1px #fff;
    padding-right: 15px;
}

.símbolo-do-título{
    position: absolute;
    top: 78px;
    left: calc(-94px - 22px);
}
.container{
    max-width: 788px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
h1{
    color: #273644;
    font-size: 40px;
    font-weight: 800;
    line-height: 140%; /* 56px */
    margin-top: 96px;
    margin-bottom: 38px;
}
.subtitulo{
    background: #EFF2F7;
    color: #3C4B58;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 14px;
    padding-left: 34px;
}
.destaque-subtitulo-1{
    color: #3C4B58;
    font-weight: 500;
}
.destaque-subtitulo-2{
    color: #EB5151;
    font-weight: 700;
}
.balão-posts-novos-autor{
    height: 24px;
    margin-left: 26px;
}
.número-posts-novos-autor{
    color: #F9FAFC;
    font-size: 12px;
    font-weight: 700;
    line-height: 160%; /* 19.2px */
    position: absolute;
    left: 4px;
}
.notícia-destaque{
    color: #707C8C;
    font-size: 21px;
    line-height: 160%; /* 33.6px */
    margin-bottom: 54px;
}
.continue-lendo{
    display: flex;
    margin-bottom: 54px;
}
.botão-continue-lendo{
    background: linear-gradient(90deg, #EFF0F2 0%, rgba(249, 250, 252, 0.00) 50.31%);
    border: none;
    color: #273644;
    font-style: italic;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
    padding: 0 36px 4px 10px;
}
.botão-continue-lendo:hover{
    cursor: pointer;
}
.linha-vermelha{
    width: 80px;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(90deg, #F00 0%, rgba(255, 0, 0, 0.46) 60.12%);
    margin-bottom: 8px;
}
.título-principais-categorias{
    color: #8D9AA6;
    font-size: 26px;
    font-weight: 300;
    line-height: 160%; /* 41.6px */
    margin-bottom: 12px;
}
.links-principais-categorias{
    display: flex;
    justify-content: space-between;
}
.link-principais-categorias{
    color: #EB5151;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
    border: 1px solid #EB5151;
    text-decoration: none;
    padding: 4px 18px;
    display: inline-block;
    margin-bottom: 18px;
}
.círculo-de-notificação{
    color: #3C4B58;
    font-size: 12px;
    font-weight: 700;
    line-height: 160%; /* 19.2px */
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: 1px solid #EB5151;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: #F9FAFC;
}
.notificações-excedidas{
    color: #C11616;
}
.mais-categorias{
    color: #8D9AA6;
    font-weight: 300;
    line-height: 160%; /* 25.6px */
    align-self: flex-end;
}
.position-relative{
    position: relative;
}

.gallery-title {
    color:#EB5151;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700; 
}

.card-text {
    color:#273644;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500; 
}

.link-text {
    color:#E62121;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 300; 
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.remove-margin {
    margin: 0;
}

#gallery {
    column-gap: 30px;
    align-items: center;
    align-self: center;
    margin-top: 100px;

}

#photo-cards, #video-cards {
    column-gap: 24px;
    width: 580px;
    overflow-x: hidden;
}

.image-gradient {
    position: relative;
}

.linear-gradient{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FDFDFD 82.6%);
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
}
#video-with-display {
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(34, 34, 34, 0.84) 30.52%, rgba(34, 34, 34, 0.31) 100%), url(../images/img-4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 384px;
    height: 221px; 
}

.link {
    align-items: center;
    column-gap: 20px;
}

#index-2 {
    border: solid 1px white;
    padding: 12px 10px 12px 15px;
    border-radius: 40px;
}

.post{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.post .titulo{
    color: var(--neutras-gray, #8D9AA6);
    font-size: 26px;
    font-weight: 300;
    padding-bottom: 5px;
    border-bottom: 1px solid #D3DDE6;
   
}

.noticia{
    display: flex;
    flex-direction: column;
    width: 700px;
    gap: 10px;
    border-bottom: 1px solid #D3DDE6;
    padding-bottom: 35px;
}

.noticia .descricao{
    font-size: 21px;
}

.noticia span{
    color: var(--neutras-gray, #8D9AA6)
}

.noticia .link{
    color: var(--neutras-prata, #3C4B58);
}

.link-noticia{
    text-align: right;
    color: var(--ui-color-primary, #2648A1);
}

img{
    width: 32px;
    height: 25px;
    display: flex;
    
}

.noticia .data {
    display: flex;
    gap: 20px;
}

#img-3 .card-text{
    width: 147px;
}

#post-series, .footer-container {
    margin-right: auto;
    margin-left: auto;
}



#title-posts-series {
    font-size: 26px;
    font-style: normal;
    font-weight: 800; 
    margin-bottom: 0;
}

.subtitle-post-series {
    font-size: 16px;
    font-style: normal;
    font-weight: 300; 
}

.red-a {
    font-size: 14px;
    font-style: normal;
    font-weight: 300; 
    color: #EB5151;
    text-decoration: none;
}

.posts-series-top-secundary-text, .footer-secundary-text {
    font-weight: 700;
    color: #EB5151;
    width: 245px; 
}

.red-a, .posts-series-top-secundary-text {
    margin-top: 23px;
    margin-bottom: 15px;
}

.posts-series-bottom-secundary-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400; 
    color: #EB5151;
    padding-top: 9px;
    position: absolute;
    bottom: 5px;
    width: 245px; 
}

.blue-a {
    font-size: 12px;
    font-style: italic;
    font-weight: 300; 
    color: #8D9AA6;
    text-decoration: none;
}

.red-line {
    width: 239px;
    height: 1px;
    background-color: #EB5151; 
    position: absolute;
    bottom: 45px;
}

.posts-series-card {
    width: 280px;
    height: 260px; 
    border: solid 1px #EB5151;
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

#posts-series-cards {
    column-gap: 27px;
    width: 1240px;
}

.posts-cards-main-text {
    font-size: 18px;
    font-style: normal;
    font-weight: 700; 
    color: #C11616;
    width: 245px;
}

.links-posts-series {
    width: 1200px;
    margin-top: 8px;
}

#arrow-more {
    align-self: flex-end;
}

footer {
    margin-top: 120px;
}

.footer-top {
    width: 1456px;
    height: 220px; 
    background-color: #F9FAFC;
    justify-content: space-between;
    align-items: center;
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
}

.footer-li, .link-footer {
    font-size: 16px;
    font-style: normal;
    font-weight: 400; 
    color: #3C4B58;
}

#footer-ul {
    list-style: none;
    text-align: right;
    row-gap: 8px;
}

.red-line-footer {
    width: 60px;
    height: 1px; 
    background-color: #C11616;
    margin-top: 22px;
    margin-left: 23px;
}

.footer-bottom {
    width: 1447px;
    height: 52px;
    background-color: #EFF2F7; 
    justify-content: center;
    align-items: center;
}